{% extends 'base.html.twig' %}

{% block title %}Nos voitures
{% endblock %}

{% block body %}
	<section id="shop">
		<div
			class="flex flex-wrap bg-gray-100 p-6">

			        <div class="block md:hidden text-center mb-4">
            <button id="products-toggle-filters"
                    class="bg-primary text-white py-2 px-4 rounded-full focus:outline-none">Show Filters</button>
        </div>
        <div class="flex flex-col md:flex-row">
            <!-- Filters -->
            <div id="filters" class="w-full md:w-1/4 p-4 hidden md:block">
                <!-- Category Filter -->
                <div class="mb-6 pb-8 border-b border-gray-line">
                    <h3 class="text-lg font-semibold mb-6">Category</h3>
                    <div class="space-y-2">
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">T-Shirts</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">Hoodies</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">Accessories</span>
                        </label>
                    </div>
                </div>
                <!-- Size Filter -->
                <div class="mb-6 pb-8 border-b border-gray-line">
                    <h3 class="text-lg font-semibold mb-6">Size</h3>
                    <div class="space-y-2">
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">S (30)</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">M (44)</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">L (22)</span>
                        </label>
                    </div>
                </div>
                <!-- Color Filter -->
                <div class="mb-6 pb-8 border-b border-gray-line">
                    <h3 class="text-lg font-semibold mb-6">Color</h3>
                    <div class="space-y-2">
                        <label class="flex items-center custom-color-checkbox" data-color="#ff0000">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">Red</span>
                        </label>
                        <label class="flex items-center custom-color-checkbox" data-color="#0000ff">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">Blue</span>
                        </label>
                        <label class="flex items-center custom-color-checkbox" data-color="#00ff00">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">Green</span>
                        </label>
                    </div>
                </div>
                <!-- Brand Filter -->
                <div class="mb-6 pb-8 border-b border-gray-line">
                    <h3 class="text-lg font-semibold mb-6">Brand</h3>
                    <div class="space-y-2">
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">Nike</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">Adidas</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">Puma</span>
                        </label>
                    </div>
                </div>
                <!-- Rating Filter -->
                <div class="mb-6">
                    <h3 class="text-lg font-semibold mb-6">Rating</h3>
                    <div class="space-y-2">
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">★★★★★</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">★★★★☆</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" class="form-checkbox custom-checkbox">
                            <span class="ml-2">★★★☆☆</span>
                        </label>
                    </div>
                </div>
            </div>
                <div class="w-full md:w-3/4 px-4">

                        	<div class="grid grid-cols-3 sm:grid-cols-2 lg:grid-cols-3 gap-8">

            {% for car in cars %}
			{% include ('parts/card/favorite/_car_card.html.twig') %}
                {% endfor %}
                </div>
                </div>
        </div>
	</section>
{% endblock %}
