{% extends 'base.html.twig' %}

{% block title %}Shop
{% endblock %}

{% block body %}
	<section id="shop">
		<div
			class="container mx-auto">

			<!-- Products List Car -->
			<div class="w-full md:w-3/4 p-4">
				<span class="font-semibold text-gray-700 text-xl">Nos voitures</span>
				<!-- Products grid -->
				<div
					class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
					<!-- Car -->
					{% for car in cars %}
						{% include 'parts/_car_card_shop.html.twig' %}
					{% endfor %}
				</div>
				<!-- Button Show more -->
				<div class="flex justify-center mt-8">
                <a href="{{ path('app_car') }}">
					<button class="bg-primary text-white py-2 px-6 rounded-full hover:bg-transparent hover:text-primary hover:border-primary border-2 focus:outline-none w-auto">
						Voir toutes les voitures
					</button>
                </a>
				</div>
			</div>

			<!-- Products List Motorcylce -->
			<div class="w-full md:w-3/4 p-4 mt-8 md:mt-0">
				<span class="font-semibold text-gray-700 text-xl">Nos motos</span>
				<!-- Products grid -->
				<div
					class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
					<!-- Motos -->
					{% for motorcylce in motorcycles %}
						{% include 'parts/_motorcycle_card_shop.html.twig' %}
					{% endfor %}
				</div>
				<!-- Button Show more -->
				<div class="flex justify-center mt-8">
					<a href="{{ path('app_motorcycle') }}">
						<button class="bg-primary text-white py-2 px-6 rounded-full hover:bg-transparent hover:text-primary hover:border-primary border-2 focus:outline-none w-auto">
							Voir toutes les motos
						</button>
					</a>
				</div>
			</div>

			<!-- Products List Van -->
			<div class="w-full md:w-3/4 p-4 mt-8 md:mt-0">
				<span class="font-semibold text-gray-700 text-xl">Nos vans</span>
				<!-- Products grid -->
				<div
					class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
					<!-- Van -->
					{% for van in vans %}
						{% include 'parts/_van_card_shop.html.twig' %}
					{% endfor %}
				</div>
				<!-- Button Show more -->

				<div class="flex justify-center mt-8">
					<a href="{{ path('app_van') }}">
						<button class="bg-primary text-white py-2 px-6 rounded-full hover:bg-transparent hover:text-primary hover:border-primary border-2 focus:outline-none w-auto">
							Voir tous les vans
						</button>
					</a>
				</div>
			</div>

		</div>
	</section>

	<!-- Shop category description -->
	<section id="shop-category-description" class="py-8">
		<div class="container mx-auto">
			<div class="bg-white p-6 rounded-lg shadow-lg">
				<h2 class="text-2xl font-bold mb-4">Shirts Category</h2>
				<p class="mb-4">
					Discover our wide range of shirts, perfect for any occasion. Whether you're looking for something casual
					                or formal, we have the perfect shirt for you. Our collection includes a variety of styles, colors, and
					                sizes to suit everyone's taste.
				</p>
				<p>
					Browse through our selection and find your new favorite shirt today. All our shirts are made from
					                high-quality materials and are designed to provide both comfort and style. Shop now and elevate your
					                wardrobe with our premium shirts.
				</p>
			</div>
		</div>
	</section>

{% endblock %}
